.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteiner {
width: 350px;
height: 550px;
border: 1px solid black;
border-radius: 15px;
background-color: white
}

.form{
    width: 275px;
    margin: 0 auto 20px auto;
   text-align: center;
   
}

.input{
    width: 260px;
    padding: 5px;
    margin-bottom: 10px;
}

   
 
#btn{
    margin-bottom: 10px;
    width: 260px;
    height: 28px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}
#btn:hover{
  background-color: green; 
transition: background-color .8s linear;
}